# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude logs
*.log

# Exclude environment files
.env

# Exclude virtual environments
venv/
.env/

# Exclude Docker-related files
Dockerfile
docker-compose.yml

# Exclude other unnecessary files
*.swp
*.swo