<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYAI Streaming Chat</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100vh;
        }

        h1 {
            margin-bottom: 50px;
        }

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            display: inline;
            max-width: 50%;
        }
    </style>
</head>
<body>
    <div>
        <nav>
            <div>
                <div>
                    <div>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.chat') }}">
                                Chat
                            </a>
                            <a href="{{ url_for('main.profile') }}">
                                Profile
                            </a>
                            <a href="{{ url_for('auth.logout') }}">
                                Logout
                            </a>
                        {% else %}
                            <a href="{{ url_for('auth.login') }}">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}">
                                Sign Up
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>